<div class="form-container">
<h1>Your Surveys</h1>
<table>
  <thead>
    <tr>
      <th>Survey</th>
      <th>Number of Results</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to "#{survey.name}", edit_survey_path(survey.id) %></td>
        <td><%= survey.number_of_results(survey.id) %></td>
        <td><%= link_to 'View Responses', survey %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Make New Survey', new_survey_path %>
</div>
