
<div class='editing'>
<h1>Editing<img src='http://www.clker.com/cliparts/1/4/3/4/1258661944702491623drunken_duck_crow_silhouette.svg.hi.png' class='crowpic'> Author</h1>

<%= render 'form' %>

<%= link_to 'Show', @author %>
<%= link_to 'Back', authors_path %>
<%= link_to 'Home', root_path %>
</div>
