
<img src='http://www.clker.com/cliparts/1/4/3/4/1258661944702491623drunken_duck_crow_silhouette.svg.hi.png' class='crowpic2'>
<div class="form-container">
	<div class="create-container">
		<h1>Editing Survey</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @survey %>
		<%= link_to 'Back', surveys_path %>
		<%= link_to 'Home', root_path %>
	</div>
</div>
