// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: url("background.png");
	color: #1E88E5
}
.form-container {
	margin-top: 8em;
	width: 70%;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 1em;
	box-shadow: 1px 1px 2px #1E88E5;
	padding-bottom: 2em;
	border-radius: 15px;
	margin-bottom: 10em;
	
}

.form-container h1 {
	padding-top: 1em;
	font-size: 2em;
	font-weight: 200;
}

.form-container input {

	margin-bottom: 1.7em;
	padding: 1.2em;
	background-color: #1565C0;
	color: #E3F2FD;
	border: none;
	border-radius: 2%;
	transition: 0.3s;
	font-size: .8em;
	border: 1px solid #E3F2FD;
	border-radius: 10px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.form-container input[type="text"] {
	background-color: #BBDEFB
}

.form-container input[type="password"] {
	background-color: #BBDEFB
}

.form-container input:hover {
	background-color: #E3F2FD;
	color:#1565C0;
	transition: 0.3s;
	border: 1px solid #1565C0;
}

.form-container  a {
	color:#478BF9;
	text-decoration: none;
	padding: .5em;
}

.form-container  label {
	color:#478BF9;
	text-decoration: none;
	padding: .5em;
}

.form-container  a:hover {
	background-color: #E3F2FD;
	text-decoration: underline;
}